<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="789b80">  <td>21/09/09 10:31:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSetup.initializeTestBaseSetup(java.lang.String, java.lang.String)[pri:0, instance:com.ui.test.TestScripts@75d4a5c2]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2056031695</td>   <td></td> </tr>
<tr bgcolor="8c72ac">  <td>21/09/09 10:31:39</td>   <td>5172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.testNab(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.ui.test.TestScripts@75d4a5c2]">testNab</td> 
  <td>main@2056031695</td>   <td></td> </tr>
<tr bgcolor="789b80">  <td>21/09/09 10:31:56</td>   <td>21276</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseSetup.afterClass()[pri:0, instance:com.ui.test.TestScripts@75d4a5c2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2056031695</td>   <td></td> </tr>
</table>
